{{define "cards/single"}}
    {{template "layouts/header" . }}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 style="margin-bottom: 0;">{{ .Data.Card.CardName.Russian }}</h1>
                <h4 class="text-muted"
                    style="font-weight: normal; margin-top: 0;">{{ .Data.Card.CardName.English }}</h4>
                <p>
                    {{ html .Data.Card.CardText.Russian }}
                </p>

                {{if eq .Data.Card.CardType "Hero" "Creep"}}

                    <table class="table table-borderless table-striped">
                        <tbody>
                        <tr class="text-center">
                            <td>
                                <img src="/cards/static/app/attack.svg" style="width: 50px;">
                                <span class="badge" style="font-size: 20px;">Атака {{.Data.Card.Attack}}</span>
                            </td>
                            <td>
                                <img src="/cards/static/app/armor.svg" style="width: 50px;">
                                <span class="badge" style="font-size: 20px;">Броня 0</span>
                            </td>
                            <td>
                                <img src="/cards/static/app/health.svg" style="width: 50px;">
                                <span class="badge"
                                      style="font-size: 20px;">Здоровье {{.Data.Card.HitPoints}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {{end}}

                <table class="table table-borderless table-striped">
                    <tbody>
                    <tr>
                        <td class="text-right">Тип</td>
                        <td>
                            {{if eq .Data.Card.CardType "Hero"}}
                                <img src="/cards/static/app/hero.svg" style="width: 25px;">
                                <span class="badge">Герой</span>
                            {{end}}

                            {{if eq .Data.Card.CardType "Spell"}}
                                <img src="/cards/static/app/spell.svg" style="width: 25px;">
                                <span class="badge">Заклинание</span>
                            {{end}}

                            {{if eq .Data.Card.CardType "Creep"}}
                                <img src="/cards/static/app/creep.svg" style="width: 25px;">
                                <span class="badge">Крип</span>
                            {{end}}

                            {{if eq .Data.Card.CardType "Improvement"}}
                                <img src="/cards/static/app/improvement.svg" style="width: 25px;">
                                <span class="badge">Улучшение</span>
                            {{end}}

                            {{if eq .Data.Card.CardType "Item"}}
                                <img src="/cards/static/app/item.svg" style="width: 25px;">
                                <span class="badge">Предмет</span>
                            {{end}}
                        </td>
                    </tr>
                    {{if .Data.Card.Rarity}}
                        <tr>
                            <td class="text-right">
                                Редкость
                            </td>
                            <td>
                                <span class="badge {{ .Data.Card.Rarity }}">{{ .Data.Card.Rarity }}</span>
                            </td>
                        </tr>
                    {{end}}
                    <tr>
                        <td class="text-right">
                            Цвет
                        </td>
                        <td>
                            <span class="badge badge-color badge-{{ .Data.Card.Color }}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">Манакост</td>
                        <td>{{ .Data.Card.ManaCost }}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Стоимость</td>
                        <td>{{ .Data.Card.GoldCost }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">
                <img src="/cards/uploads/cards/large/rus/{{ .Data.Card.CardId}}.png" class="img-fluid">
            </div>
        </div>
    </div>
    {{template "layouts/footer" . }}
{{end}}