{{define "layouts/header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Grid Template for Bootstrap</title>

        <!-- Bootstrap core CSS -->
        <link href="static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="static/app/screen.css" rel="stylesheet">
    </head>

    <body class="global-hash-dark-version global-hash-full-image global-hash-full-width global-hash-red global-hash-post-red global-hash-green global-hash-post-green global-hash-large">
{{end}}