{{define "layouts/header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <link rel="shortcut icon" href="/cards/static/app/favicon.png" type="image/png" />
        <title>{{ .Data.Seo.Title }}</title>
        <meta name="description" content="{{ .Data.Seo.Description }}" />

        <meta property="og:site_name" content="Artifactia — русскоязычное сообщество игры Artifact" />
        <meta property="og:title" content="{{ .Data.Seo.Title }}" />
        <meta property="og:description" content="{{ .Data.Seo.Description }}" />
        <meta property="og:url" content="{{ .Data.Seo.OG.URL }}" />
        <meta property="og:image" content="{{ .Data.Seo.OG.Image }}" />

        <!-- Bootstrap core CSS -->
        <link href="/cards/static/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/cards/static/datatables/datatables.min.css"/>

        <!-- Custom styles for this template -->
        <link href="/cards/static/app/screen.css" rel="stylesheet">
        <link href="/cards/static/app/cards.css" rel="stylesheet">

        <script type="text/javascript" src="/cards/static/jquery/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/cards/static/datatables/datatables.min.js"></script>

        <script type="text/javascript" src="/cards/static/app/app.js"></script>
    </head>

    <body class="global-hash-dark-version global-hash-full-image global-hash-full-width global-hash-red global-hash-post-red global-hash-green global-hash-post-green global-hash-large">
{{end}}